.display {
    width: 85%;
    height: 300px;
    margin-left: 6%;
    background-color: grey;
    color: white;
    border-radius: 50px;
    border: white solid;
    font-size: 50px;
    padding-right: 30px;
  }
  