.container {
    background-color: red;
    width: 50%;
    border-radius: 40px;
    height: 100%;

}
button{
    background-color: blue;
    color: white;
    font-size: 50px;
    padding-left: 50px;

}

.logo{
    border-radius: 15%;
    margin: 5px 20px 20px 5px;
    padding: 50px;
    height: 125px;
}